CellProfiler==4.2.5
cellprofiler-core==4.2.5
dask==2022.4.0
javabridge==1.0.19
parsl~=1.1.0
PyYAML~=5.4.1
python-box==6.1.0
libsubmit @ git+https://github.com/sa2c/libsubmit.git
Rynner @ git+https://github.com/sa2c/rynner.git@61ad5fccea5c6f57fd853fa21e7cc662d2fef655
timeago==1.0.9